# Example of secrets in prepro 

APP_ENV=dev # Environment: dev, staging, prod

ROOT_DIR= # Root directory of the prepro service on the host machine, ex: /Users/username/Code/prepro

SQL_URL= # Path to the Postgres database for the prepro service
BLOB_URL= # Path to the Databases blob storage for the prepro service, ex: http://localhost:8001.  --> DO NOT INCLUDE ANY PATH like /blob/dev